@import "./mixins.scss";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}
.main {
    width: 100vw;
    height: 100vh;
    background-color: gray;
    .chatPage {
        border: 2px solid rgb(36, 78, 102);
        height: 90vh;
        background-image: url(../img/bg.png);
        background-size: cover;
        background-position: center;
        .header {
            min-height: 70px;
            background-color: #2e3b44;
            cursor: pointer;
        }
        .massageWrapper {
            height: 100%;
            border: 1px solid red;
        }
        .inputMassage {
            background-color: wheat;
            min-height: 40px;
        }
    }
}
