@import "./mixins.scss";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}
.main {
    width: 100vw;
    height: 100vh;
    background-color: gray;
    .chatPageWrapper {
        position: relative;
    }
    .chatPage {
        border: 2px solid rgb(36, 78, 102);
        background-color: #212a30;
        height: 90vh;
        justify-content: space-between;
        overflow: hidden;
        @include not-md {
            height: 100%;
        }
        .bottomWrapper {
            height: 100%;
            justify-content: space-between;
            overflow: hidden;
            transition: 0.4s;
            background-image: url(../img/bg.png);
            background-size: cover;
            background-position: center;
        }
        .topHeader.open {
            transform: scale(1.5);
        }
        .topHeader {
            transform-origin: left top;
            background: #2e3b44;
            transition: 0.4s;
            position: relative;
            z-index: 20;
        }
        .header {
            height: 70px;
            background-color: #2e3b44;
            flex-wrap: wrap;
            position: relative;
            .clickAble {
                cursor: pointer;
            }
            .picture {
                width: 60px;
                height: 60px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    clip-path: circle(50%);
                }
            }
            h4 {
                color: white;
            }
            .profileDetails {
                height: 0;
                width: 100%;
                position: absolute;
                top: 100%;
                left: 0;
                transition: 0.4s;
                background-color: #212a30;
                .back {
                    position: absolute;
                    bottom: 20px;
                    right: 15px;
                    button {
                        background-color: transparent;
                        border: none;
                        span {
                            transition: 0.4s;
                        }
                        &:focus {
                            outline: none;
                        }
                        &:hover {
                            span {
                                color: white;
                            }
                        }
                    }
                }
            }
            .profileDetails.open {
                height: calc(90vh - 60px);
                color: white;
                @include not-md {
                    height: calc(100vh - 60px);
                }
                h5 {
                    margin-top: 45px;
                    font-size: 16px;
                    font-weight: bold;
                    color: #5787aa;
                }
                h4 {
                    font-size: 20px;
                }
                span {
                    color: gray;
                    font-size: 16px;
                    text-transform: capitalize;
                }
            }
        }
        .messageWrapper {
            overflow-y: auto;
            margin: 2px 0;
            .loading {
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 30;
                transform: translate(-50%, -50%);
            }
            .msg {
                min-height: 32px;
                border-radius: 10px;
                max-width: 80%;
                min-width: 10%;
                position: relative;
                .time {
                    position: absolute;
                    bottom: 2px;
                    font-size: 12px;
                    color: rgb(177, 177, 177);
                }
                p {
                    white-space: break-spaces;
                    color: gainsboro;
                }
            }
            .msg-me {
                justify-content: flex-end;
                // display: none !important;
                .msg {
                    background-color: rgb(41, 41, 46);
                    padding-left: 30px;
                    .time {
                        right: 5px;
                    }
                }
            }
            .msg-user .msg {
                background-color: rgb(98, 98, 107);
                .time {
                    left: 5px;
                }
            }
        }
        .inputMessage {
            background-color: rgb(212, 212, 212);
            min-height: 32px;
            p {
                overflow: auto;
                max-height: 200px;
                height: 100%;
                width: 100%;
                &:focus {
                    outline: none;
                }
            }
            button {
                width: 60px;
                height: 100%;
                background-color: transparent;
                border: none;
                color: rgb(36, 78, 102);
                font-weight: bold;
                text-transform: capitalize;
                &:disabled {
                    font-weight: normal;
                    color: gray;
                }
            }
        }
    }
}

.transformToBottom {
    transform: translateY(102%);
}
.transformToTop {
    transform: translateY(-102%);
}
